    #container{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin: 0 auto; 
      min-height: 5em;
    }
    #loading, #erro_box{
      width: 100%;
      height: 10em;
    }
    .msg{
      font-family: 'Muli', sans-serif;
      font-size: 0.8em;
      font-weight: 700;
      color:#9c9c9c;
    }
    .datalist{
      background: transparent;
    }
    #icon-exchange{
      margin:0 auto 0.3em;
      font-size: 2em;
      color: #727376;
    }
    #info-convert{
      background:#dddddd;
      border-radius: 3px;
      margin: 1em 0;
      padding: 0.5em;
    }
    .font-size-2em{
      font-size: 2em;
    }
    .flash-erro-msg{
      margin-top: -5px;
    }
    #form-convert-altcoin{
      margin-top: 2em;
    }
    #convert-altcoin{
      display: none;      
    }
    #coins_converted{
      width: 100%;   
      color: #515151;
      font-family: 'Muli', sans-serif; 
      font-size: 1.5em;
      text-align: center;
      height: 2em;
      margin-bottom: 3em;
    }

    .dark{
      color: #515151 !important;
    }

    .light{
      color: #c1c1c1 !important;
    }