*{
    box-sizing: border-box;
    word-wrap: break-word;
}

html, body {
    margin:0;
    padding: 0;
    width: 400px;
    max-width: 400px;
    height: 500px;
    background: radial-gradient(#fff, #fcfcfc, #f7f7f7);
}

/* ALIGN VERTICAL */
.align-vert-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.align-div-horizontal{
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}
.align-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);            
}

/* LOGO */
.logo{
    width:100%;
}
.logo img{
    display: block;
    margin: 15px auto 10px;
    width:32%;
}

/* BADGE */
.badge{
    margin-right: .25em;
}
.wid-20{
    max-width:20px;
    width: 20px;
}
.wid-30{
    max-width:30px;
    width: 30px;
}
.margin-20{
    margin:20px;
}
.margin-top-10{
    margin-top:10px;
}
.input-group{
    margin-bottom: 0.5em;
}
.input-group img{
    margin-right: 0.1em;
}

.remove_field, .add_field_button{
    width: 30px;
    border-radius: 0 3px 3px 0;
}
.add_field_button:focus, .remove_field:focus {
    border-color: transparent;
    box-shadow: none;
}
.center{
    margin: 0 auto;
}
.wid-300{
    width:300px;
}
.wid-250{
    width:250px;
}
.background-none{
    background: rgba(211, 211, 211, 0);
}
.btn-accordion{
    height:100%;
    width:100%;
    background-color: transparent;
}
.btn-accordion:hover {
    background-color: transparent;
    border-color: transparent;
}
.btn-accordion:focus {
    border-color: transparent;
    box-shadow: none;
}    

/* DISPLAY */
.display-inline-block{
    display: inline-block;
}
.display-block{
    display: block;
}
.display-none{
    display: none;
}

/* CORES */
.dourado{
    color: #dba913 !important;
}
.cinza{
    color: #727376 !important;
}

/* PAGE TITLE */
#page-title{
    width:100%;
    margin:10px auto 10px;
}
#page-title h1{
    font-family: 'Poppins', sans-serif;
    letter-spacing:-2px;
}
#page-title .icon-title{
    font-size: 0.6em;
    display: inline-block;
    margin-right: 10px;
}


/* MENSAGEM DE ERRO */
#erro-msg{
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    color:#9c9c9c;
}
/* WIDTH */
.wid-5-perc{
    width: 5% !important;
}
.wid-7-perc{
    width:7% !important;
}
.wid-10-perc{
    width: 10% !important;
}
.wid-19-perc{
    width: 19% !important;
}
.wid-24-perc{
    width: 24% !important;
}
.wid-25-perc{
    width: 25% !important;
}
.wid-30-perc{
    width: 30% !important;
}
.wid-38-perc{
    width: 30% !important;
}
.wid-40-perc{
    width: 40% !important;
}
.wid-47-perc{
    width: 47% !important;
}
.wid-52-perc{
    width: 52% !important;
}
.wid-53-perc{
    width: 53% !important;
}
.wid-63-perc{
    width: 63% !important;
}
.wid-90-perc{
    width: 90% !important;
}
.wid-93-perc{
    width:93% !important;
}

/* INPUT MATERIZLIZE */
.materialize input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dba913;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 1em 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
/*
.materialize input:focus{
    transition: border-color 0.5s ease;
    border-bottom: 3px solid #dba913;      
}
*/
.materialize input:hover{
    border-bottom: 1px solid #585858;      
}


/* FLASH MSG */
#flash_msg{
    position:absolute;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 95%;
    text-align: center;
    display: none;
}

/* LIST GROUP IN A FAUCET LINK */
.faucet_list{
    margin-top: 1em;
}
.faucet_list .list-group-item{
    padding: .2rem 1rem !important;
}
.faucet_list .active{
    background-color: #dba913 !important;
    border-color: #dba913;
}


/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}
.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

/* LOADING */
.loading{
    text-transform: uppercase;
}

/* PADDING */
.padding-top-1em{
    padding-top: 1em !important;
}
.padding-top-2em{
    padding-top: 2em !important;
}
.padding-top-3em{
    padding-top: 3em !important;
}