          .row {  
            display: flex;
            justify-content: space-between;
          }
          .wd-full{
            width: 100%;
            min-height: 5em;
            height: inherit;
          }
          .wd-half{
            width: 49%;
            min-height: 8em;
          }
          .bg-text{
            position: absolute;
            user-select: none;
            color: #c9c9c9;
            z-index:0;
          }
          .font-anton{
            font-family: 'Anton', sans-serif;
          }
          .font-oswald{
            font-family: 'Oswald', sans-serif;
          } 
          .font-montserrat{
            font-family: 'Montserrat', sans-serif;
          }
          .font-ubuntu{
            font-family: 'Ubuntu', sans-serif;
          }           
          .font-muli{
            font-family: 'Muli', sans-serif;
          }           
          .font-francois-one{
            font-family: 'Francois One', sans-serif;
          }
          .text-size-2em{
            font-size: 2em;
          }
          /* -------------  TILES ------------- */
          .tile{
            background: #efefef;
            border-radius: 3px;
          }
          .coin-value-tile, #market-tile-title{
            margin:0 0.9em;
            padding:0.4em 0 0 0;
            border-bottom: solid #919191 1px;
          }
          .val-coin-tile{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.4em;
            font-weight: 700;
          }
          .money-coin-tile{
            font-family: 'Montserrat', sans-serif;
            font-size: 0.7em;
            font-weight: 200; 
          }
          .coin-name-tile{
            font-family: 'Muli', sans-serif;
            font-weight: 800;
            font-size: 0.8em;
            color: #8e8e8e;
            text-transform: uppercase;
          }
          .coin-data-tile, #market-data-tile{
            margin: 0 0.9em 0.5em;
          }
          .coin-symbol-tile{
            font-weight: 300;
            font-size: 0.6em;
          }
          .coin-rank-tile{
            font-family: 'Francois One', sans-serif;
            float: right;
            font-size: 1.5em;
            color: #c9c9c9;
          }
          .table{
            font-family: 'Muli', sans-serif;
            font-size: 0.7em;
          }
          .table tr, .table th, .table td{
            padding: 0;
            margin:0;
            border:none !important;
          }
          .table thead{
            border-bottom: 1px solid #c9c9c9;
          }
          .coin-brl-data{
            font-family: 'Montserrat', sans-serif;
            font-size: 0.7em;
            font-weight: 700;
            margin: -0.4em 0 0.5em;
            padding: 0;
            color: #9c9c9c;
          }
          .brl-money{
            font-size: 0.65em;
            font-weight: 500;
          }
          .coin-data-general, .market-data-general{
            font-family: 'Montserrat', sans-serif;
            font-size: 0.6em;
            color: gray;
            margin-bottom: 7px;
          }
          .market-data-general{
            font-size: 0.8em !important;
            margin-top: 32px; /* metade do tamanho */
          }
          .info-general{
            font-weight: 400;
          }
          .info-answer{
            font-weight: 600;
          }
          /* ------------- CARD FLIPPER ------------- */
          .card-flipper{
            width:100%;
            height: 180px;
            position: relative; 
            margin-bottom: 9px;
          }
          .flipper{
            width: 100%;
            height: 100%;
            margin: 0 ; 
            position: absolute;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition: transform 0.8s;
          }
          .flipper #front, .flipper #back {
            margin: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
          }
          .flipper #back{
            transform: rotateX(180deg);
          }
          .flip{
            transform: rotateX(180deg);
          }
          .chart-btc-market svg{
            width: 100%; 
            height: 80px !important;
          }
          /* ICON */
          .row-coin-data-top{
            width:100%;
          }
          .icon-up-down{
            float:right;
            width:15%;
            font-size:1.6em; 
            color:#55ba50;
          }
          .coin-name-val{
            float:left;
            width:85%;            
          }
          .market-coin-float{
            padding: 0 0 7px 0;
          }
          /* LIST TOP 20 */
          #coin-top-20{
            margin-top: 9px;
            padding: 0;
          }
          #coin-list-top-20{
            list-style: none;
            margin: 0;
            padding: 0 0 1em 0;
          }
          #coin-list-top-20 li{
            background: #efefef;
            margin-top: 2px;
            border-radius: 3px;
            padding: 0.5em;
          }
          .coin-item-pos{
            font-family: 'Francois One', sans-serif;
            font-size: 1em;
            color: #c9c9c9;
          }
          .coin-item-name{
            font-family: 'Muli', sans-serif;
            font-weight: 800;
            font-size: 1em;
            color: #7f7f7f;
            padding: 0.5em;
            text-transform: uppercase;
          }
          .coin-item-name-symbol{
            font-weight: 300;
            font-size: 0.8em;
          }
          .coin-item-val{
            font-family: 'Muli', sans-serif;
            font-size: 0.8em;
            font-weight: 700;
            padding-left: 0.3em;
            color: #9c9c9c;
          }
          .coin-item-val-money{
            font-size: 0.5em;
            font-weight: 300;
            padding-left: 0.1em;
          }
          .coin-item-float-period{
            font-family: 'Muli', sans-serif;
            font-size: 0.8em;
            font-weight: 700;
            padding: 0 0.3em 0 0.5em;
            color: #777777;
          }
          .coin-item-float-perc{
            font-family: 'Muli', sans-serif;
            font-size: 0.8em;
            font-weight: 700;
          }
          .up{
            color:#55ba50;
          }
          .down{
            color:Tomato;
          }

          /*TEXT*/
          .small-text{
            font-size: 0.8em !important;
          }

          /* FLOAT */
          .float-right{
            float: right;
          }
          .clear { 
            clear: both; 
          }

          /* SECTION TITLE */
          .section-title{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            font-weight: 700;
            padding-bottom: 2px;
            border-bottom: solid 1px black;  
            margin-bottom: 0.7em;          
          }