#sidebar {
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:100vh;
  background:#1a1a1a;
  text-align:center;
  transform-origin:left;
  transform:perspective(1200px) rotateY(90deg);
  transition:all 400ms ease;
  z-index: 100;
}

#sidebar ul{
  margin: 1.5em 0;
  padding: 0;
}

#sidebar ul li:hover{
  border-left: 5px solid #dba913;
  border-right: 5px solid #dba913;
}

#sidebar ul li{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: 0.4s;
}

#sidebar ul li a{
  text-align: center;
  color: #ccc;
  font-size: 18px;
  width: 100%;
  line-height: 2.3em;
  list-style: none;
  cursor: pointer;
}

#sidebar a{
  text-decoration: none;
}

#sidebar.active {
  transform:perspective(1200px) rotateY(0deg);
}
#toggle-btn {
  position:absolute;
  right:30px;
  top:15px;
  transition:left 200ms linear 0ms,transform 300ms ease 100ms;
}
#toggle-btn.active {
  /*left:230px;*/
  transform:rotate(360deg);
}
#toggle-btn span {
  position:relative;
  top:0px;
  display:block;
  background:#1a1a1a;
  width:30px;
  height:5px;
  margin:5px 0px;
  cursor:pointer;
  transition:transform 300ms ease 200ms;
}
#toggle-btn.active span:nth-child(1) {
  top:10px;
  transform:rotate(45deg);
}
#toggle-btn.active span:nth-child(2) {
  opacity:0;
}
#toggle-btn.active span:nth-child(3) {
  top:-10px;
  transform:rotate(-45deg);
}
.subitem-menu{
  font-size: 1em !important;
  font-weight: 400;
}