
    .materialize{
      padding-bottom: 1.5em;
    }
      #about{
        padding-top:1em;
        text-align: center;
      } 
      .login-icon{
          display:inline-block;
          font-size: 40px;
          line-height: 50px;
          background-color:black;
          color:white;
          width: 50px;
          height: 50px;
          text-align: center;
          vertical-align: bottom;
      }
      .btn-copy{
          padding: 0 !important;
          margin-bottom: 1em;
      }
      .img-qr-code{
        margin-bottom: 1em;
      }
      .modal .col-11{
        padding-left: 0px;
      }
      .modal-cont{
        margin: 0;
        padding: 0;
      }
      .text-address{
        text-align: center;
        color: #4f4f4f;
        font-size: 0.8em;
        font-style: italic;
      }
      .materialize input{
        cursor: pointer !important;
      }
